body{
background:#f4f8fc;
height:100vh;
}

.auth-container{
height:100vh;
display:flex;
}

.left-panel{
flex:1;
background:linear-gradient(
135deg,
#1e40af,
#2563eb,
#3b82f6
);
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
color:white;
padding:50px;
}

.left-panel i{
font-size:90px;
margin-bottom:20px;
color:#fbbf24;
}

.left-panel h1{
font-size:38px;
font-weight:700;
}

.left-panel p{
max-width:450px;
text-align:center;
opacity:.9;
}

.right-panel{
flex:1;
display:flex;
justify-content:center;
align-items:center;
background:white;
}

.auth-card{
width:450px;
padding:40px;
background:white;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.auth-card h2{
font-weight:700;
margin-bottom:10px;
}

.auth-card p{
color:#64748b;
margin-bottom:20px;
}

.btn-auth{
height:52px;
background:#2563eb;
border:none;
font-weight:600;
}

.btn-auth:hover{
background:#1e40af;
}

.auth-link{
text-align:center;
margin-top:15px;
}

.auth-link a{
color:#2563eb;
font-weight:600;
}

@media(max-width:992px){

.left-panel{
display:none;
}

.right-panel{
width:100%;
}

}